<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%for i in obj%}
    <div>{{i.num}} {{i.name}} {{i.description}} {{i.cost}}</div>
{%endfor%}
</body>
</html>