<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel='stylesheet' type='text/css' href='{% static "first_project/css/styles.css" %}'/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
    <title>Главная страница</title>
</head>
<body>
<div class="container">
    <div class="developer">
        <p class="developer_name">Матвей Семенищев</p>
    </div>
    <div class="menu">
        <a href="@" class="menu_font">Работы</a>
        <a href="@" class="menu_font">Услуги</a>
        <a href="@" class="menu_font">Процесс</a>
        <a href="@" class="menu_font">Обо мне</a>
        <a href="@" class="menu_font">Контакты</a>
    </div>
    <div class="title">
        <p class="h2title title_head">Сайты на Тильде, которые убеждают и продают</p>
        <p class="title_body">Изучаем ваш бизнес. Узнаем, что важно клиентам, как вызвать доверие и довести до заявки
            или покупки</p>
    </div>
    <div class="link">
        <div class="link_telegram">
            <a href="@" class="link_telegram_text">Связаться в Telegram</a>
        </div>
        <div class="link_portfolio">
            <a href="@" class="link_portfolio_text">Видеопортфолио</a>
        </div>
    </div>
    <div class="variations">
        <div class="variations_all">
            <a href="@" class="variations_all_link">Все</a>
        </div>
        <div class="variations_developer">
            <a href="@" class="variations_developer_link">Разработка</a>
        </div>
        <div class="variations_key">
            <a href="@" class="variations_key_link">Сайт под ключ</a>
        </div>
        <div class="variations_design">
            <a href="@" class="variations_design_link">Дизайн</a>
        </div>
    </div>
    <div class="images">
        <img src="{% static 'first_project/images/1.png'%}" class="images_full img1">
        <div class="images_container img2">
            <img src="{% static 'first_project/images/2.png'%}" class="images_split">
            <img src="{% static 'first_project/images/3.png'%}" class="images_split">
        </div>
        <img src="{% static 'first_project/images/4.png'%}" class="images_full img4">
        <div class="images_container img3">
            <img src="{% static 'first_project/images/5.png'%}" class="images_split">
            <img src="{% static 'first_project/images/6.png'%}" class="images_split">
        </div>
    </div>
    <div class="author">
        <img src="{% static 'first_project/images/gigachad.png'%}" class="author_img">
        <div class="author_text">
            <h1 class="author_text_name">Designer & Developer</h1>
            <p class="author_text_description">Меня зовут гигачад. За 3 года создания сайтов я основал свою студию,
                собрал людей, готовых к плотной работе. Запустили лендинг и б2б продукт для UFC. Работали с ВШЭ и
                МИЭМом. Запустили множество эвентовых проектов и брендинг. Готовы забирать в команду лучших, прокачивать
                их компетенции, и взращивать русское айти комьюнити,</p>
            <div class="author_text_additional">
                <div class=author_text_additional_stats>
                    <p class=author_text_additional_stats_number>40+</p>
                    <p class=autho_text_additional_stats_description>Сайтов запустили</p>
                </div>
                <div class=author_text_additional_stats>
                    <p class=author_text_additional_stats_number>100%</p>
                    <p class=author_text_additional_stats_description>Выполнено в срок</p>
                </div>
                <div class=author_text_additional_stats>
                    <p class=author_text_additional_stats_number>10+</p>
                    <p class=author_text_additional_stats_description>Лет опыта</p>
                </div>
            </div>
        </div>
    </div>
    <div class="services">
        <p class="h2title services_title">Услуги</p>
        <div class="services_price">
            {%for i in obj%}
            <div class="services_price_object">
                <p class="services_price_object_name">{{i.name}}</p>
                <p class="services_price_object_number">{{forloop.counter}}</p>
                <p class="services_price_object_description">{{i.description}}</p>
                <p class="services_price_object_line"></p>
                <p class="services_price_object_cost">От {{i.cost}} ₽</p>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="calculator">
        <p class="calculator_title">Подсчет стоимости</p>
        <div class="calculator_body">
            <select class="calculator_body_type">
                <option class="calculator_body_type_option" value="none" selected disabled hidden>Тип работы</option>
                <option class="calculator_body_type_option">Сайт на Тильде</option>
                <option class="calculator_body_type_option">Веб-дизайн</option>
                <option class="calculator_body_type_option">Арт-дирекшн</option>
            </select>
            <select class="calculator_body_size">
                <option class="calculator_body_size_option" value="none" selected disabled hidden>Насколько большой
                    проект?
                </option>
                <option class="calculator_body_size_option">Маленький</option>
                <option class="calculator_body_size_option">Побольше</option>
                <option class="calculator_body_size_option">Большой</option>
                <option class="calculator_body_size_option">Капец какой огромный</option>
            </select>
            <div class="calculator_body_checkbox">
                <input type="checkbox" class="calculator_body_checkbox_box" name="hueta">
                <label class="calculator_body_checkbox_title" for="hueta">Да, я слышал про осеннюю школу.
                    <p class="calculator_body_checkbox_title2">Интересно а после нее будет егэ?</p>
                </label>
            </div>
            <input type="button" class="calculator_button" value="Рассчитать стоимость">
        </div>
        <div class="calculator_answer">
            <p class="calculator_answer_title">Примерный подсчет:</p>
            <div class="calculator_answer_price">
                <p class="calculator_answer_price_title">Стоимость</p>
                <p class="calculator_answer_price_number">От 120 000</p>
            </div>
            <div class="calculator_answer_price">
                <p class="calculator_answer_price_title">Примерные сроки</p>
                <p class="calculator_answer_price_number">14 рабочих дней</p>
            </div>
            <input type="button" class="calculator_answer_price_button" value="Обсудить проект">
        </div>
    </div>
    <div class="FAQ">
        <h2 class="FAQ_title">Вопрос-ответ</h2>
        <div class="FAQ_questions">
            <details class="FAQ_questions_answer">
                <summary>Click to open/close</summary>
                Here is the content that is revealed when clicking the summary...
            </details>
            <details class="FAQ_questions_answer">
                <summary>Click to open/close</summary>
                Тильда уже давно перестала быть просто конструктором. Сейчас на платформе разрабатывают уникальные
                лендинги и даже небольшие интернет магазины. А еще: Не нужен программист, тильдой легко управлять Можно
                менять контент самому без помощи
            </details>
            <details class="FAQ_questions_answer">
                <summary>Click to open/close</summary>
                Here is the content that is revealed when clicking the summary...
            </details>
            <details class="FAQ_questions_answer">
                <summary>Click to open/close</summary>
                Here is the content that is revealed when clicking the summary...
            </details>
            <details class="FAQ_questions_answer">
                <summary>Click to open/close</summary>
                Here is the content that is revealed when clicking the summary...
            </details>
            <details class="FAQ_questions_answer">
                <summary>Click to open/close</summary>
                Here is the content that is revealed when clicking the summary...
            </details>
        </div>
    </div>
    <div class="feedback">
        <h2 class="feedback_title h2title">Оставьте заявку</h2>
        <p class="feedbaсk_description">Я сам напишу вам, и сообщу все детали</p>
        <div class="feedback_block">
            <form method="post" action="" novalidate="novalidate">
                {% csrf_token %}
                <div class="feedback_block_input">
                    {{form.name}}
                    {{form.email}}
                    {{form.service}}
                    {{form.message}}
                    {% if success %}
                    <div>
                        <strong>Спасибо за сообщение!</strong>
                    </div>
                    {% endif %}
                </div>
                <div class="feedback_block_button">
                    <button type="submit" class="calculator_answer_price_button" value="Отправить сообщение"></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--<script src="script.js"></script>-->
</body>
</html>